header#header.clearfix
    a.logo(href="#")
        img(src="static/images/csdn_edu_logo.svg")
    //span.course_search
    //    form.course_search_form(action="http://edu.csdn.net/course")
    //        input.course_input(type="search" placeholder="输入关键词搜索课程" name="keywords" id="keywords" value="" autocomplete="off")
    //        input.course_submit(type="submit"  value="")
    //        .search_tip
    //            .search_tip_list
    //                | 搜索
    //                span.key_word_desc 关键字
    //                | 的课程
    //            .search_tip_list
    //                | 搜索
    //                span.key_word_desc 关键字
    //                | 的套餐
    //            .search_tip_list
    //                | 搜索
    //                span.key_word_desc 关键字
    //                | 的讲师
    //    script(type="text/javascript").
    //        $(".course_input").keyup(function () {
    //            if (this.value.length > 0) {
    //                if (this.value.length > 10) {
    //                    var temp_value = this.value.slice(0, 10) + "...";
    //                }
    //                else {
    //                    temp_value = this.value;
    //                }
    //                $(this).siblings(".search_tip").find(".key_word_desc").html(temp_value)
    //                $(this).siblings(".search_tip").css("display", "block")
    //                $(this).next("input").css("display", "none")
    //            }
    //            else {
    //                $(this).siblings(".search_tip").css("display", "none")
    //            }
    //        });
    //        var action_url = ["www.baidu.com", "www.sie.com", "www.tt.com"]
    //        $(".search_tip_list").click(function () {
    //            var index = $(".search_tip_list ").index($(this));
    //            $(".course_search_form").attr("action", action_url[index]);
    //            $(".search_tip").css("display", "none");
    //            $(".course_search_form").submit();
    //            return false;
    //        })
    //        $(".course_input").blur(function () {
    //            var $that = $(this);
    //            var outTimer = setTimeout(function () {
    //                $that.siblings(".search_tip").css("display", "none")
    //            }, 200);
    //            $that.next("input").css("display", "inline");
    //        });
    //
    //

    span.header_nav_btn