footer#footer

    span
        a.index(href="#")
            span
                i.iconfont.blue &#xe625;
                span.s22.color5.blue 首页
    span
        a.course(href="#")
            span
                i.iconfont &#xe623;
                span.s22.color5 课程
    span
        a.tao_can(href="#")
            span
                i.iconfont &#xe627;
                span.s22.color5 套餐
    span
        a.buy_car(href="#")
            span
                i.iconfont &#xe621;
                span.s22.color5 购物车
    span
        a.my_edu(href="#")
            span
                i.iconfont &#xe61f;
                span.s22.color5 我的