//@import 'nib'
#header
  width 100%
  box-sizing border-box
  height 2.2rem
  line-height 2.2rem
  overflow hidden
  position absolute
  top 0
  left 0
  padding 0 0.375rem
  background-color #fff
  .logo
    display inline-block
    width  6.02rem
    height 2.2rem
    img
      vertical-align middle
  .course_search
    display inline-block
    width 6.9rem
    height 1rem
    border 1px solid #b7b7b7
    overflow hidden
    vertical-align middle
    form
      display block
      .course_input
        border none
        width 5.9rem
        height 1rem
        outline none
        vertical-align top
      .course_submit
        width 0.7rem
        height 1rem
        border none
        vertical-align top
      .search_tip
        display none


